<div class="header">
    <div class="header-inner">
        <div class="float-right">
            <div class="profile-wrap">
                <div class="username-wrap hidden"><a href="https://gatewayapi.com/app/profile/"></a></div>
                <div class="thumbnail-wrap hidden">
                    <a href="https://gatewayapi.com/app/profile/">
                        <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=50" alt="" width="32" height="32">
                    </a>
                </div>
            </div>
        </div>
        <div class="float-right">
            <div class="menu-wrap">
                <ul class="menu">
                    <li class="dashboard hidden">
                        <a href="https://gatewayapi.com/app/"><i class="fa fa-tachometer"></i> Dashboard</a>
                    </li>
                    <li class="login">
                        <a href="https://gatewayapi.com/#login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="float-right">
            <div class="menu-wrap menu-base">
                <ul class="menu">
                    <li>
                        <a href="https://gatewayapi.com/#prices">Prices</a>
                    </li>
                    <li>
                        <a href="https://gatewayapi.com/#features">Features</a>
                    </li>
                    <li>
                        <a href="http://status.gatewayapi.com/">Status</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
