@font-face {
    font-family: 'GatewayAPI-Icons';
    src: url("fonts/GatewayAPI-Icons.woff2?gsid8y") format("woff2"), url("fonts/GatewayAPI-Icons.ttf?gsid8y") format("truetype"), url("fonts/GatewayAPI-Icons.woff?gsid8y") format("woff"), url("fonts/GatewayAPI-Icons.svg?gsid8y#GatewayAPI-Icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

i, .table.table-condensed.table-detailed > tbody > tr > td:first-child:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'GatewayAPI-Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gwi-16 {
    font-size: 16px !important;
    line-height: 16px;
}

.gwi-16.gwi-fw {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
}

.gwi-24 {
    font-size: 24px !important;
    line-height: 24px;
}

.gwi-24.gwi-fw {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
}

.gwi-32 {
    font-size: 32px !important;
}

.gwi-32.gwi-fw {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
}

.gwi-t--2 {
    position: relative;
    top: -2px;
}

.gwi-t-2 {
    position: relative;
    top: 2px;
}

.gwi-wallet:before {
    content: "\e912";
}

.gwi-bag-euro:before {
    content: "\e75f";
}

.gwi-rocket:before {
    content: "\e837";
}

.gwi-balance:before {
    content: "\e839";
}

.gwi-invoice:before {
    content: "\e913";
}

.gwi-freeze:before {
    content: "\e916";
}

.gwi-defrost:before {
    content: "\e920";
}

.gwi-newline:before {
    content: "\e922";
}

.gwi-prices-email:before {
    content: "\e92c";
}

.gwi-info:before {
    content: "\e92d";
}

.gwi-settings-credentials:before {
    content: "\e928";
}

.gwi-deathstar:before {
    content: "\e929";
}

.gwi-settings-webhook:before {
    content: "\e92a";
}

.gwi-statusio:before {
    content: "\e92b";
}

.gwi-search:before {
    content: "\e930";
}

.gwi-account_overview:before {
    content: "\e92e";
}

.gwi-edit-2:before {
    content: "\e900";
}

.gwi-back:before {
    content: "\e901";
}

.gwi-warning:before {
    content: "\e911";
}

.gwi-user-add:before {
    content: "\e925";
}

.gwi-dropdown:before {
    content: "\e902";
}

.gwi-chevron-up:before {
    content: "\e903";
}

.gwi-chevron-right:before {
    content: "\e904";
}

.gwi-chevron-down:before, .table.table-condensed.table-detailed > tbody > tr > td:first-child:before {
    content: "\e905";
}

.gwi-profile-members:before {
    content: "\e907";
}

.gwi-profile-me:before {
    content: "\e908";
}

.gwi-settings-ip:before {
    content: "\e90a";
}

.gwi-prices-text:before {
    content: "\e90b";
}

.gwi-billing-transactions:before {
    content: "\e90c";
}

.gwi-support:before {
    content: "\e90d";
}

.gwi-documentation:before {
    content: "\e90e";
}

.gwi-billing:before {
    content: "\e90f";
}

.gwi-download:before {
    content: "\e931";
}

.gwi-settings-oauth-key:before {
    content: "\e909";
}

.gwi-delete-2:before {
    content: "\e927";
}

.gwi-accounts-add:before {
    content: "\e910";
}

.gwi-edit:before {
    content: "\e921";
}

.gwi-chevron-left:before {
    content: "\e906";
}

.gwi-profile-logout:before {
    content: "\e914";
}

.gwi-accounts:before {
    content: "\e915";
}

.gwi-billing-details:before {
    content: "\e919";
}

.gwi-trafficlog:before {
    content: "\e92f";
}

.gwi-enable:before {
    content: "\e923";
}

.gwi-disable:before {
    content: "\e924";
}

.gwi-delete:before {
    content: "\e917";
}

.gwi-oauth-facebook:before {
    content: "\e91e";
}

.gwi-oauth-google:before {
    content: "\e91f";
}

.gwi-notifications:before {
    content: "\e918";
}

.gwi-billing-invoices:before {
    content: "\e91a";
}

.gwi-settings:before {
    content: "\e91b";
}

.gwi-prices:before {
    content: "\e91c";
}

.gwi-dashboard:before {
    content: "\e91d";
}

.gwi-billing-buy-credit:before {
    content: "\e926";
}


